# ================= 不会修改的官方库（绝对不提交） =================
Drivers/
Middlewares/
Utilities/

# ================= MDK 编译产物（完全不提交） =================
*.o
*.crf
*.axf
*.hex
*.htm
*.map
*.dep
*.lst
*.bin
*.elf
*.d
*.lnp
*.sct
*.build_log.htm

# MDK 工程目录与临时文件
MDK-ARM/
Objects/
Listings/
RTE/
DebugConfig/

# ================= 其他杂项 =================
*.tmp
*.log
*.bak